@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">This application utilizes C#/ASP.NET to deserialize JSON data and present it to visitors</p>
    <p><a href="https://jsonplaceholder.typicode.com/">All datasets are provided by jsonplaceholder.typicode.com </a></p>
</div>


<div class="row">
    <div class="col-lg-12">  
        <p> User directory: This page will retrieve and display a list of 10 users availble.
        <a class="btn btn-default" @Html.ActionLink("Click Here", "Index", "Users")</a>
        </p>        
    </div>
    <div class="col-lg-12">
        <p> User Posts: This page will retrieve and display all user postings (100 items).
        <a class="btn btn-default" @Html.ActionLink("Click Here", "Index", "Post")</a>
        </p>
    </div>
    <div class="col-lg-12">
        <p>
            Comments: This page retrieve and display all comment response to the main posts as is.
            <a class="btn btn-default" @Html.ActionLink("Click Here", "Index", "Comment")</a>
        </p>
    </div>
    <div class="col-lg-12">
        <p>
            Posts and comment responses: This page displays the top level Post follow by other user comment response. PK is postId.
            <a class="btn btn-default" @Html.ActionLink("Work in Progress", "", "Comment")</a>
        </p>
    </div>

</div>